.gradle/
build/
out/
run/
.idea/
*.iml
*.log
logs/
crash-reports/
.DS_Store
src/
gradle/
gradlew
gradlew.bat
build.gradle
settings.gradle
gradle.properties
README.md
LICENSE
createjar.bat
PLAN/
.gitignore